.login-container{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://wallpapercave.com/wp/wp2913471.jpg")
        center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login-wrapper{
    width: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
@media screen and (max-width: 380px) {
    .login-wrapper {
    width: 75%;
    
    }
  }
.login-h1{
    font-size: 24px;
    font-weight: 400;
}
.form-log{
    display: flex;
    flex-direction: column;
}
.login-input{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}
.login-button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color:aqua;
    color: rgb(4, 3, 3);
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 20px 8px 20px 8px;
}
.login-a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}