.register-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 295px;
  background-size: cover;
  
  }

.register-wrapper {
  
  flex-direction: column;

  border-radius: 20px;
  opacity: 0.6;
  width: 40%;
  padding: 20px;
  background-color: rgb(38, 2, 80);
}
@media screen and (max-width: 380px) {
  .register-wrapper {
    width: 75%;
  }
}

.register-h1 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(216, 198, 198);
}

.form-reg {
  display: flex;
  flex-wrap: wrap;
}

.register-input {
  flex: 1;
  min-width: 40%;
  margin: 20px 10px 0px 0px;
  padding: 10px;
}

.register-span {
  font-size: 12px;
  margin: 20px 0px;
  font-weight: 900;
  color: rgb(194, 180, 180);
}

.register-button {
  width: 40%;
  border: 2px solid rgb(2, 2, 0);
  padding: 15px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 20px 8px 20px 8px;
  font-weight: 900;
}
