.navbar {
    height: 60px;
    background-color:rgb(206, 245, 232);
   
}
@media screen and (max-width: 380px) {
    .navbar {
      height: 40px;
    }
  }


.left{
    flex: 1;
    display: flex;
    align-items: center;
}

.center{
    flex: 1;
    text-align: center;
}

.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
@media screen and (max-width: 380px) {
    .right {
    flex: 2;
    justify-content: center;
    
    }
  }
.navbar-title{
    font-weight: bold;
}

@media screen and (max-width: 380px) {
    .navbar-title {
    font-size: 24px;
    
    }
  }


.menuItem{
    font-size: 14px;
    cursor: pointer;
    margin-left: 25px;
}
@media screen and (max-width: 380px) {
    .menuItem {
    font-size: 12px;
    margin-left: 10px;
    
    }
  }

  .create-button{
    width: 20%;
    border: none;
    padding: 15px 20px;
    background-color:aqua;
    color: rgb(4, 3, 3);
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 900;
    border-radius: 20px 8px 20px 8px;
}